.slider {
    padding: 20px 30px;
    border: 1px solid #bebcbd;
    border-top: none;
  }
  
  .sliderBar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .priceBar {
    display: flex;
    align-items: center;
    height: 32px;
    border: 1px solid #BEBCBD;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: #3c4242;
  }
  