.filterColor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    border: 1px solid #bebcbd;
    border-top: none;
}

.color {
    
   
}

.colorItem {
    border-radius: 12px;
    width: 36px;
    height: 36px;
}
