.titleBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #3f4646;
  text-transform: capitalize;
}

.titleLink {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titleLink a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #3f4646;
}

.titleLink a:first-child {
  color: #8a33fd;
}
