*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/ineter/inter-v13-latin-regular.woff2') format('woff2');
  }


  @font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/ineter/inter-v13-latin-500.woff2') format('woff2');
  }
    
  @font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/ineter/inter-v13-latin-700.woff2') format('woff2'); 
  }

:root {
    /* fotns */
    --font-family: "Inter", sans-serif;

    /* colors */
    --pr-color: #3C4242;
    --gr-color: #807D7E;
    --primary--color: #BEBCBD;
    --white-color: #ffff;
    --white-color-100: #F6F6F6;
    --white-color-300: #EDEEF2;
    --pruple-color: #8A33FD;

    /* bacground */
}

body {
    font-family: var(--pr-family);
}